.title {
  font-weight: 500px;
  font-size: 16px;
  line-height: 150%;
  color: #475467;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  background-color: #e44848;

  border: none;
  color: #f7f7f7;
  font-weight: 500px;
  font-size: 16px;
  letter-spacing: -0.01em;
}
